Azure-Incremental-Load-Realtime_Project/pipeline/Incremental-load-pl.json
{
	"name": "Incremental-load-pl",
	"properties": {
		"description": " Loading incremental transanctional db into analytical db.",
		"activities": [
			{
				"name": "lookup-order_dim-tbl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(order_date) as most_recent_ord_date FROM [dbo].[orders_dim];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "order_dim_tbl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy-incremental-data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup-order_dim-tbl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT order_id, customer_id, quantity, order_date FROM [dbo].[orders] WHERE order_date > '@{activity('lookup-order_dim-tbl').output.value[0].most_recent_ord_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "order_tbl_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "order_dim_tbl_ds",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-24T07:40:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}